* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rethink Sans', sans-serif;
    background-color: #f1f5f9;
}

.container {
    display: flex;
}

/* MENU */
.menu {
    width: 240px;
    height: 100vh;
    background-color: #e2e8f0;
    padding: 40px 20px;
}

.menu h2 {
    margin-bottom: 30px;
}

.menu button {
    font-family: 'Rethink Sans', sans-serif; /* FORÇA A FONTE */
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    background-color: #cbd5e1;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover {
    background-color: #94a3b8;
}

/* CONTEÚDO */
.content {
    flex: 1;
    padding: 60px;
}

/* SISTEMA DE ABAS */
.aba {
    display: none;
}

.ativa {
    display: block;
}

h1 {
    margin-bottom: 20px;
}

.link {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}
