* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rethink Sans', sans-serif;
    background-color: #f1f5f9; /* branco mais escuro */
    display: flex;
}

/* MENU LATERAL */
.menu {
    width: 250px;
    height: 100vh;
    background-color: #e2e8f0;
    padding: 40px 20px;
    position: fixed;
}

.menu h2 {
    margin-bottom: 30px;
}

.menu a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #1e293b;
    font-weight: 600;
    padding: 8px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #cbd5e1;
}

/* CONTEÚDO */
.content {
    margin-left: 270px;
    padding: 60px;
    width: 100%;
}

section {
    margin-bottom: 80px;
}

h1 {
    margin-bottom: 20px;
    color: #0f172a;
}

p, li {
    font-size: 18px;
    color: #334155;
}

ul {
    list-style: none;
}

/* LINKS DE CONTATO */
.link {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}
