body {
    body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}
}

header {
    text-align: center;
    padding: 60px 20px;
    background-color: #1e293b;
}

section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 40px;
}

h2 {
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e293b;
}
